
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;  // Adjust this value for the desired spacing
  }
  
  button {
    background-color: #007bff;
    color: #fff;
  
    &:hover {
      background-color: #0056b3;
    }
  
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  